.DS_Store
PhotoGeoCache.xcworkspace/xcshareddata/PhotoGeoCache.xccheckout
PhotoGeoCache.xcworkspace/xcuserdata/aimecham.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/aimecham.xcuserdatad/xcschemes/xcschememanagement.plist
